html
  head
    title Registration
  body
    h3= message
    form(action="/login" method="post")
      label(for="email") Enter your email:
      input(type="email" name="email")
      br
      label(for="password") Enter you password:
      input(type="password" name="password")
      br
      ol
      each error in errors
        li= error
      input(type="submit" value="Submit")